:root {
--primery-text-color: #212121;
--sekondary-text-color:#757575;
--page-color: #F5F5F5;;
--blue-color: #2196F3;
--section-backghround-color: #FFFFFF;
--secondary-backghround-color: #F5F4FA;
--footer-color: #2F303A;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}

.vissualy-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.page {
background: var(--page-color);
}

/* logo */

.logo-web {
    font-family: 'Raleway';
    color: var(--blue-color);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-studio {
    font-family: 'Raleway';
    color: var(--primery-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}


.logo-footer {
    font-family: 'Raleway';
        color:var(--section-backghround-color);
    font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
}

 /* Верхня лінія */


.page {
    background-color: var(--page-color)
}

.page-haeder .site-nav:hover,
.page-haeder .site-nav:focus
{
    color: var(--blue-color);
}

 .site-nav .nav-list {
    font-family: 'Roboto';
    color: var(--blue-color);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;

 }
 .site-nav .nav-list-clients {
font-family: 'Roboto';
color: var(--primery-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

 }

 .site-nav .nav-list-client {
    font-family: 'Roboto';
    color: var(--primery-text-color);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;

 }

 .list-contacts .contacts-link {
    font-family: 'Roboto';
    color: var(--blue-color);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;


 }
 .list-contacts .contact-link {
        font-family: 'Roboto';
        color: var(--sekondary-text-color);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;

 }

 /* Шапка */

 .container {
            color: var(--section-backghround-color);
    background: var(--footer-color);
 }

.hero-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36 ;
        text-align: center;
        letter-spacing: 0.06em;
            text-transform: uppercase;

}

.order-button {
        font-family: 'Roboto';
        color: var(--white-color);
        background: var(--blue-color);
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.8 ;
}

.hero {

    width: 1600px;
    height: 600px;

}

/* Особливості */

.section {
    background: var(--page-color);
font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;

}

.subtitle {
    color: var(--sekondary-text-color);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
}
/* УВАГА ДО ДЕТАЛЕЙ */

.excerpt {

    width: 270px;
    height: 16px;
    left: 215px;
    top: 774px;
}

.text {

        width: 270px;
        height: 72px;
        left: 215px;
        top: 800px;
}

/* ПУНКТУАЛЬНІСТЬ */
.quote {

    width: 270px;
    height: 16px;
    left: 515px;
    top: 774px;
}

.excerp {

        width: 270px;
        height: 48px;
        left: 515px;
        top: 800px;
}

/* ПЛАНУВАННЯ */
.slogan {

    width: 270px;
    height: 16px;
    left: 815px;
    top: 774px;
}

.lead {

        width: 270px;
        height: 48px;
        left: 815px;
        top: 800px;
}

/* СУЧАСНІ ТЕХНОЛОГІЇ */
.tehnology {

    width: 270px;
    height: 16px;
    left: 1115px;
    top: 774px;
}

.tagline {

        width: 270px;
        height: 72px;
        left: 1115px;
        top: 800px;
}

/* Чим ми займаємося */
.subject {
        font-family: 'Roboto';
            color: var(--primery-text-color);
            font-style: normal;
            font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        
}


.bg {
    font-family: 'Roboto';
    color: var(--primery-text-color);
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;

}

/* підвал*/

.address {
    font-family: 'Roboto';
    color: var(--section-backghround-color);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
}

.mail {
    font-family: 'Roboto';
color: rgba(255, 255, 255, 0.6);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
}

.number {
    font-family: 'Roboto';
    color: rgba(255, 255, 255, 0.6);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
}
footer {
    background-color: var(--footer-color);
}


/* Портфоліо */



.list-clients {
    font-family: 'Roboto';
    color: var(--blue-color);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    width: 45px;
    height: 16px;
    left: 453px;
    top: 32px;
}

.nav-studio {
        font-family: 'Roboto';
        color: #212121;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
width: 72px;
    height: 16px;
    left: 548px;
    top: 32px;
}


.nav-list-client {
font-family: 'Roboto';
color: var(--primery-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
width: 72px;
    height: 16px;
    left: 548px;
    top: 32px;
}

/* кнопки */

.button {
    background-color: var(--blue-color);
        width: 73px;
        height: 38px;
        top: 174px;
}

.btn {
        font-family: 'Roboto';
            color: var(--primery-text-color);
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.62;
            letter-spacing: 0.03em;
width: 125px;
    height: 38px;
    top: 174px;
}

.control {
        font-family: 'Roboto';
            color: var(--primery-text-color);
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.62;
            letter-spacing: 0.03em;
    width: 112px;
        height: 38px;
        top: 174px;
}

.dropdown {
        font-family: 'Roboto';
            color: var(--primery-text-color);
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.62;
            letter-spacing: 0.03em;
    width: 103px;
        height: 38px;
        top: 174px;
}

.type-btn {
    font-family: 'Roboto';
    color: var(--primery-text-color);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
    width: 130px;
        height: 38px;
        top: 174px;
}

.main {
    font-family: 'Roboto';
    background: var(--page-color);
    color: var(--primery-text-color);
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;

}

.aside {
    font-family: 'Roboto';
    color: var(--sekondary-text-color);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.03em;

}