:root {
--primery-text-color: #212121;
--sekondary-text-color:#757575;
--page-color: #F5F5F5;;
--blue-color: #2196F3;
--section-backghround-color: #FFFFFF;
--secondary-backghround-color: #F5F4FA;
--footer-color: #2F303A;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}

.vissualy-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.page {
background: var(--page-color);
}

/* logo */

.logo-web {
    font-family: 'Raleway';
    color: var(--blue-color);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-studio {
    font-family: 'Raleway';
    color: var(--primery-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}


.logo-footer {
    font-family: 'Raleway';
        color: var(--white-color);
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
}

 /* Верхня лінія */


.page {
    background-color: var(--white-color);
}

.site-nav :hover :focus
{
    color: var(--blue-color);
}

 .site-nav .nav-list {
    font-family: 'Roboto';
    color: var(--blue-color);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        position: absolute;
            width: 45px;
            height: 16px;
            left: 453px;
            top: 32px;
 }
 .site-nav .nav-list-clients {
font-family: 'Roboto';
color: var(--primery-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    position: absolute;
        width: 72px;
        height: 16px;
        left: 548px;
        top: 32px;
 }

 .site-nav .nav-list-client {
    font-family: 'Roboto';
    color: var(--primery-text-color);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        position: absolute;
            width: 64px;
            height: 16px;
            left: 670px;
            top: 32px;
 }

 .list-contacts .contacts-link {
    font-family: 'Roboto';
    color: var(--blue-color);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        position: absolute;
            width: 135px;
            height: 16px;
            left: 1078px;
            top: 32px;

 }
 .list-contacts .contact-link {
        font-family: 'Roboto';
        color: var(--sekondary-text-color);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
            position: absolute;
                width: 122px;
                height: 16px;
                left: 1263px;
                top: 32px;
 }

 /* Шапка */


.hero-title {
        font-family: 'Roboto';
        color: var(--section-backghround-color);
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36 ;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        left: 28.25%;
            right: 28.25%;
            top: 33.33%;
            bottom: 46.67%;
}

.order-button {
        font-family: 'Roboto';
        color: var(--white-color);
        background: var(--blue-color);
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.8 ;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        left: 45.25%;
            right: 45.25%;
            top: 60%;
            bottom: 35%;
}

.hero {
    background: var(--footer-color);
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
}

/* Особливості */

 .section .vissualy-hidden

.section-title {
    position: absolute;
        width: 270px;
        height: 16px;
        left: 215px;
        top: 774px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.subtitle {
    position: absolute;
        width: 270px;
        height: 72px;
        left: 215px;
        top: 800px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
}
